blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
crcmod==1.7
et_xmlfile==2.0.0
Flask==3.1.2
gunicorn==23.0.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
openpyxl==3.1.5
packaging==25.0
pillow==12.1.0
qrcode==8.2
reportlab==4.4.7
requests==2.32.5
urllib3==2.6.2
Werkzeug==3.1.4
